<%- include('partials/header'); -%>

  <header>
    <div>
      <h2>Welcome!</h2>
      <h3>By CallingMyBluff</h3>
      <a href="/cars">Cars</a>
      <a href="/offices">Offices</a>
      <a href="/profile/bookings">My bookings</a>
    </div>
  </header>

  <%- include('partials/footer'); -%>