<%- include('partials/header'); -%>

  <header>
    <div>
      <h2>Welcome, <%= locals.name ? locals.name : 'stranger' %>!</h2>
      <h3><I>by CallingMyBluff</I></h3>
      <a href="/api/cars">Cars</a>
      <a href="/api/offices">Offices</a>
      <a href="/api/bookings">My bookings</a>
    </div>
  </header>

  <%- include('partials/footer'); -%>