<%- include('partials/header'); -%>

  <header>
    <div>
      <h2>Welcome, <span id="name">stranger</span>!</h2>
      <h3><I>by CallingMyBluff</I></h3>
    </div>
  </header>

  <script>
    // https://www.w3schools.com/js/js_cookies.asp
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    const userCookie = getCookie('user');
    if (userCookie.length > 0)
      document.getElementById('name').innerHTML = userCookie;
  </script>

  <%- include('partials/footer'); -%>