<%- include('partials/header'); -%>

  <form action="/signup" method="post" id="form">
    <h2>Signup</h2>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <div style="color: red;" id="errors"></div>
    <input type="submit" id="submit" value="Submit" />
  </form>


  <script>
    document.getElementById('form').addEventListener('submit', function submitThis(event) {
      event.preventDefault();

      const buttun = document.getElementById('submit');
      buttun.disabled = true;
      buttun.value = 'Loading';

      const name = document.getElementById('name').value,
        password = document.getElementById('password').value
      post({
        query: `mutation {signup(name: \"${name}\", password: \"${password}\") {user, token, id}}`
      })
        .then(res => {
          document.cookie = 'user=' + res.data.signup.user;
          document.cookie = 'jwt=' + res.data.signup.token;
          document.cookie = 'id=' + res.data.signup.id;
          window.location.href = "/";
        })
        .catch(err => {
          if (err.errors)
            document.getElementById('errors').innerHTML = JSON.stringify(err.errors);
          buttun.disabled = false;
        });

      console.log('blaaa');
    });
  </script>

  <%- include('partials/footer'); -%>