<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Greenomy's Exercise</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">Booking System</a></h1>
    <ul>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign up</a></li>
    </ul>
  </nav>