<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Greenomy's Exercise</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">Booking System</a></h1>
    <ul>
      <% if (locals.name) { %>
        <li><a href="/signout">Log out</a></li>
      <% } else { %>
        <li><a href="/signin">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>
  </nav>